@import "/src/common/modern-reset.css";
@import "/src/common/a11y.css";

body{
  margin: 20px;
}

.inline-block-case{
  --state: #dbdbdb;
  --state-active: #4cfe88;

  margin: 20px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 10px;

  ul{
    width: 360px;
    font-size: 0;
    margin: 0 auto;
    padding: 10px;
  }

  li{
    display: inline-block;
    font-size: 1rem;
    margin: 10px;
  }
  
  .img-avatar{
    position: relative;
    display: block;

    width: 64px;
    aspect-ratio: 1/1;
    
    img{
      width: 100%;
      border-radius: 50%;
    }
  }

  .state{
    position: absolute;
    width: 25%;
    aspect-ratio: 1/1;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 1px solid white;
    background:var(--state);

    &.is-active{
      background: var(--state-active);
    }
  }
}


.float-case{
  --state: #dbdbdb;
  --state-active: #4cfe88;

  margin: 20px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 10px;
  
  ul{
    width: 360px;
    padding: 10px;
    margin: 0 auto;
    display: flow-root;
  }

  li{
    float: left;
    margin: 10px;
  }

  .img-avatar{
    position: relative;
    display: block;

    width: 64px;
    aspect-ratio: 1/1;
    
    img{
      width: 100%;
      border-radius: 50%;
    }
  }

  .state{
    position: absolute;
    width: 25%;
    aspect-ratio: 1/1;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 1px solid white;
    background:var(--state);

    &.is-active{
      background: var(--state-active);
    }
  }
}